name: Test
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        go: [1.23]
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download dependencies
        run: go mod download
      - name: Test
        run: go test -v -race ./...
